<Strong>Hello {{name}}!</Strong> <br><br>

Thanks for volunteering this event in Cognizant Outreach community.
<br>
<br>
<tr>
<tr><td>Registerd Associate Id </td> : <td> {{regTo}}</td></tr> <br><br>
<tr><td>Registerd Assocaite Name </td> : <td> {{regName}}</td></tr> <br><br>
<tr><td>Event Name </td> : <td> {{eventId}}</td></tr> <br><br>
{{!-- <tr><td>Event Date </td> : <td> {{endDt}}</td> </tr> <br>
<tr><td>Event Address </td> : <td> {{address}}</td> </tr><br> --}}
<tr><td>Event Start Date </td> : <td> {{createdDt}}</td></tr> <br><br>
<tr><td>Event End Date </td> : <td> {{createdDt}}</td></tr> <br><br>
<tr><td>Event Registartion Status </td> : <td> {{regStatus}}</td></tr> <br><br>
</tr>
<Strong>
 <br>   <br>
Thanks, <br>
Admin / PMO - Outreach </Strong>