<Strong>Hello {{name}}!</Strong>
<br>
<br>

<h3>New Event has been created in Cognizant Outreach community</h3> <br>
<br>
<tr>
 <tr><td>Event Name </td> : <td> {{benName}}</td></tr> <br><br>
<tr><td>Event Date </td> : <td> {{endDt}}</td> </tr> <br><br>
<tr><td>Event Address </td> : <td> {{address}}</td> </tr><br><br>
<tr><td>Event Start Date </td> : <td> {{startDt}}</td></tr> <br><br>
<tr><td>Event End Date </td> : <td> {{endDt}}</td></tr> <br><br>
<tr><td>Event Enable Date </td> : <td> {{visibleDt}}</td></tr><br><br>
<tr><td>Event Category </td> : <td> {{eventCat}}</td></tr> <br><br>
<tr><td>No of Volunteers required </td> : <td>{{numberOfVol}}</td></tr> <br><br>
<tr><td></td> </tr>
<tr><td> Benery Name </td> : <td> {{benName}}</td></tr> <br><br>
<tr><td> Base Location </td> : <td> {{baseLocation}}</td></tr> <br><br>
<tr><td></td> </tr>
<tr><td> Cognizant council </td> : <td>{{council}}</td></tr> <br><br>
<tr><td> Project </td> : <td> {{project}}</td></tr> <br><br><br>
<tr><td></td> </tr>
<tr><td> Event Created by </td> : <td> {{createdBy}}</td></tr> <br><br>
<tr><td> Event Created Dt </td> : <td> {{createdDt }}</td></tr> <br><br>
<tr><td></td> </tr>
<tr><td> Event updated by </td> : <td> {{updatedBy}}</td> </tr><br><br>
<tr><td> Event updated Dt </td> : <td> {{updatedDt}}</td> </tr><br><br>
<tr><td></td> </tr>

<tr><td> Event POC Associate ID </td> : <td> {{pocID}}</td></tr> <br><br>
<tr><td> Event POC Detail </td> : <td> {{pocDet}}</td></tr> <br><br>
<tr><td></td> </tr>
<tr><td>Event creation Type </td> : <td> {{createdVia}}</td> </tr><br><br>
<tr><td></td> </tr>
</tr>
<br>
<br>
<br>
Thanks,<br>
<Strong>Admin / PMO - Outreach </Strong>
